{
  "openapi": "3.0.3",
  "info": {
    "title": "八字精准排盘查询 API",
    "version": "1.0.0",
    "description": "根据用户提供的公历出生年月日时，返回对应的生辰八字（四柱干支）。"
  },
  "servers": [
    {
      "url": "https://get-bazi-vxlmcgupla.cn-hangzhou.fcapp.run"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "查询生辰八字",
        "operationId": "getBazi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "integer",
                    "example": 1984,
                    "description": "出生年份（公历，如 1984）"
                  },
                  "month": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "example": 1,
                    "description": "出生月份（1-12）"
                  },
                  "day": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31,
                    "example": 2,
                    "description": "出生日期（1-31）"
                  },
                  "hour": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 23,
                    "example": 14,
                    "description": "出生小时（24小时制，如14表示14:00-14:59）"
                  }
                },
                "required": ["year", "month", "day", "hour"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功返回八字",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bazi": {
                      "type": "string",
                      "example": "癸亥 甲子 乙未 癸未",
                      "description": "四柱干支，空格分隔"
                    }
                  },
                  "required": ["bazi"]
                }
              }
            }
          }
        }
      }
    }
  }
}